.main-layout {
  display: flex;
  min-height: 100vh;
}


/* Main content area - offset by navbar width */
.main-layout > *:not(.navbar) {
  margin-left: calc(var(--nav-width) + 35px);; /* Match your navbar width */
  flex: 1;
}