.main-layout {
  display: flex;
  min-height: 100vh;
}


/* Main content area - offset by sidebar width */
.main-layout > *:not(.sidebar) {
  margin-left: calc(var(--sidebar-width) + 35px);
  flex: 1;
}