.main-layout {
  display: flex;
  min-height: 100vh;
  background-color: var(--color-bg);
}


/* Main content area - offset by sidebar width */
.main-layout > *:not(.sidebar) {
  margin-left: calc(var(--sidebar-width) + 30px);
  flex: 1;
}